@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

:root {
  --bg-color: #232323;
  --primary-color: #1e90ff;
  --secondary-color: #a358e0;
  --grey: #bbb;
  --white: #fafafa;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  color: var(--white);
  margin: 0;
}

h1{
  font-size: 4rem;
}

main {
  width: 100%;
  transform: translateY(5%);;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 25%;
  min-width: 300px;
  max-width: 1200px;
}

button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  color: var(--white);
  padding: 1rem;
  width: 10rem;
  height: 10rem;
  font-size: 4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  filter: brightness(.9);
}

.button-reset, .button-stop{
  display: none;
}

.button-reset{
  background-color: var(--secondary-color);
}

.timer{
  margin-bottom: 5rem;
}

.timer-display{
  font-family: 'Roboto', sans-serif;
  display: grid;
  place-content: center;
  border-radius: 50%;
  border: 5px solid #555;
  font-size: 6rem;
  text-align: center;
  margin: auto;
  width: 375px;
  height: 375px;
  max-width: 1200px;
}

.timer-display-text {
  font-size: 5rem;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

/* Buttons hidden Start*/
.button-header{
  width: auto;
  font-size: 2rem;
  height: auto;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  border: none;
  background-color: var(--bg-color);
}

.button-header:hover{
  background-color: var(--grey);
  color: var(--bg-color);
}

.button-header.active{
  color: var(--bg-color);
  background-color: var(--grey);
}
/* Buttons hidden End*/
